html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

body {
  font-family: "Poppins", sans-serif;
}

body .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

body textarea {
  border-color: #ccc;
}

body textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
  outline: none;
}

body a {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body a:hover {
  text-decoration: none;
}

body a:focus {
  outline: none;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

body button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body input .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.no-pad {
  padding: 0;
}

*:focus {
  outline: none;
}

.sec-padding {
  padding: 20px 0;
}

.sec-title {
  color: #21418e;
  text-transform: uppercase;
  font-weight: bold;
}

.sec-title h2 {
  position: relative;
  display: inline-block;
}

.sec-title h2::after {
  content: "";
  position: absolute;
  background: #af1313;
  height: 2px;
  bottom: -10%;
  left: 50%;
  width: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sec-title-small {
  margin-bottom: 10px;
}

.sec-title-small h5 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.section-padding {
  margin: 30px 0;
}

.inner-library .ms-content .btn.btn-primary.mb-2 {
  display: inherit;
  background: #de1d3c;
  border-radius: 0px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 19px;
}

.j-c-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-c-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-f-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-f-e {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.bg-secondary-blue {
  background: #21418e;
}

.text-center {
  text-align: center;
}

.header-top-main {
  background-color: #de1d3c;
}

.header-top {
  background-color: #de1d3c;
  color: white;
  padding: 0.688rem 0;
  font-size: 12px;
}

.header-top .hf-calender,
.header-top .hr-email {
  margin-left: 20px;
}

.hm-title img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.hm-logo img {
  height: 110px;
  width: 130px;
}

.hm-flag {
  text-align: right;
}

.hm-flag img {
  height: 110px;
  width: 25%;
}

.header-mid {
  padding: 5px 0;
}

.header-bot .navbar-light .navbar-nav .nav-link {
  color: #fdfdfd;
  text-align: center;
}

.header-bot .navbar-light .navbar-nav .nav-link:hover {
  color: white;
  background-color: #de1d3c;
}

.header-bot .nav-item {
  margin: 0 5px;
}

.header-bot .navbar {
  padding: 25px;
  z-index: 999;
}

.header-bot .navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.main-banner-single {
  height: 67vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.mbs-text {
  width: 100%;
  background-color: #0000008a;
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 10px 20px;
  color: white;
}

.mbs-text h4 {
  color: white;
  font-weight: bold;
}

.mbs-text p {
  margin-top: 18px;
  font-size: 15px;
  color: #cecece;
  width: 50%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > a:after {
  content: ">";
  float: right;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  background-color: #21418e;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
  outline: none;
  border: none;
  border-radius: 0;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: white;
  background: #de1d3c;
}

.active-link {
  background: #de1d3c;
  color: white;
}

#dLabel {
  color: white;
  padding: 5px;
}

#dLabel:hover {
  color: white;
  background: #de1d3c;
}

.main-search {
  background: #21418e;
  padding: 45px 0px;
  text-align: center;
}

.ms-content {
  width: 100%;
  text-align: center;
}

.ms-content .form-control {
  border-radius: 0px;
  text-align: center;
  font-size: 15px;
  padding: 8px;
}

.ms-content i {
  margin-right: 15px;
}

.ms-content .btn.btn-primary.mb-2 {
  display: inherit;
  background: #de1d3c;
  border-radius: 0px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 19px;
}

.ms-content .btn.btn-primary.mb-2:hover {
  color: white;
  outline: 1px solid white;
  background: none;
}

.no-pad {
  padding: 0;
}

.ma-content p {
  text-align: justify;
  line-height: 30px;
}

.main-message {
  text-align: center;
  background: #de1d3c;
  color: white;
  padding: 20px 20px;
}

.main-message .mm-msg {
  font-size: 10px;
  margin: 10px 0;
  text-align: center;
  color: whitesmoke;
}

.cheif-img {
  margin: 10px 0;
}

.cheif-img img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mm-learn-more {
  background: #21418e;
  display: inline-block;
  padding: 5px 10px;
  line-height: 16px;
}

.mm-learn-more a {
  font-size: 10px;
  color: white;
  font-weight: 500;
}

.mm-learn-more a:hover {
  color: #de1d3c;
}

.icon-service {
  background: #fdfdfde6;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px #d0d0d0e6;
          box-shadow: 1px 1px 1px 1px #d0d0d0e6;
}

.icon-service a {
  color: #21418e;
}

.icon-service a:hover {
  color: #de1d3c;
}

.icon-service i {
  font-size: 60px;
}

.icon-service span {
  margin-top: 30px;
  display: block;
  font-weight: 700;
}

.mnst-date i {
  margin-right: 5px;
  color: #21418e;
}

.mnst-date span {
  color: #818181;
}

.mnst-view-down i {
  margin-right: 10px;
  color: #818181;
}

.mn-single {
  padding: 10px 20px 0px 20px;
  background-color: whitesmoke;
  margin-top: 15px;
}

.mnst-date {
  font-size: 12px;
  padding-bottom: 2px;
}

.ms-title h5 {
  font-size: 14px;
  line-height: 22px;
}

.ms-title h5 a {
  color: #3f3f3f;
  font-weight: normal;
}

.view-all {
  text-align: center;
  margin: 20px 0;
}

.view-all a {
  background: #de1d3c;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
}

.view-all a:hover {
  background: none;
  outline: 1px solid #de1d3c;
  color: #de1d3c;
}

.main-info-officer {
  background: #de1d3c;
  text-align: center;
  padding: 20px 30px;
  color: white;
}

.chief-detail {
  margin-top: 15px;
}

.cd-phone,
.cd-email {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.767);
}

.cd-phone i,
.cd-email i {
  margin-right: 10px;
  margin-top: 10px;
}

.main-related-link {
  background: whitesmoke;
  padding: 10px 15px;
}

.main-related-link .sec-title h2 {
  font-size: 20px;
}

.mrl-links li {
  padding-left: 1.3em;
  margin-top: 10px;
}

.mrl-links li::before {
  font-size: 12px;
  color: #007bff;
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

.mrl-links li:last-child {
  margin-bottom: 20px;
}

.mrl-links a {
  font-size: 12px;
  text-decoration: underline;
}

.ibs-caption {
  padding: 5px 0;
}

.ibs-caption i {
  font-size: 11px;
  color: #686868;
  text-align: center;
}

.ibs-caption p {
  text-align: justify;
  font-size: 11px;
  color: #686868;
}

.mg-single {
  margin: 0 10px;
}

.mg-single img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibs-img {
  position: relative;
}

.ibs-img::before {
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.247);
  position: absolute;
  visibility: hidden;
}

.ibs-img:hover::before {
  visibility: visible;
  z-index: 3;
}

.ibs-img:hover i {
  visibility: visible;
  z-index: 999;
}

.ibs-img i {
  position: absolute;
  bottom: 50%;
  left: 50%;
  color: white;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  font-size: 25px;
}

.fancybox-overlay.fancybox-overlay-fixed {
  background: rgba(82, 82, 82, 0.219) !important;
}

.btn-margin {
  margin: 40px 0;
}

.footer-link-pad {
  padding: 0 40px;
}

.footer-main {
  background-color: #21418e;
  padding: 80px 0;
  color: white;
}

.footer-title h3 {
  font-size: 20px;
  font-weight: bold;
}

.oh-content-top {
  margin-top: 20px;
}

.oh-content-top li {
  padding-left: 1.3em;
  margin-top: 10px;
  margin-top: 10px;
  font-size: 15px;
}

.oh-content-top li::before {
  color: white;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

.oh-content-top li a {
  margin-left: 5px;
  color: white;
}

.oh-content-top li i {
  margin-right: 10px;
}

.oh-content {
  margin-top: 20px;
}

.oh-content li {
  margin-top: 10px;
  font-size: 15px;
}

.oh-content li a {
  color: white;
}

.oh-content li i {
  margin-right: 10px;
}

.footer-bottom {
  padding: 5px 0;
  color: white;
  background: #de1d3c;
}

.ft-left {
  font-size: 13px;
}

.ft-right i {
  font-size: 18px;
  margin: 10px 5px 10px 0;
  color: white;
}

.inner-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;
}

.inner-breadcrumb .sec-title-breadcrumb {
  padding-top: 30px;
  padding-bottom: 10px;
}

.inner-breadcrumb .sec-title-breadcrumb h3 {
  color: white;
  font-size: 40px;
}

.inner-breadcrumb::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #083478d4;
  z-index: -1;
}

.inner-breadcrumb .breadcrumb {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

.inner-breadcrumb .breadcrumb a {
  color: white;
}

.ia-text p {
  text-align: justify;
  line-height: 30px;
}

.ia-text p:not(:last-child) {
  margin-bottom: 30px;
}

.iac-img img {
  height: 60vh;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ibs-img img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.ibs-detail {
  margin-top: 10px;
  text-align: center;
}

.ibs-detail h5 {
  font-size: 16px;
}

.ibs-detail h6 {
  color: grey;
  font-size: 12px;
}

.ia-board-member {
  padding: 20px 0px;
}

.ib-single {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #d8d8d8;
  min-height: 350px;
  max-height: 350px;
  overflow: hidden;
}

.il-table {
  background: whitesmoke;
  margin-top: 40px;
}

.il-table .table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #21418e;
  background: #21418e;
  color: white;
}

.inner-library .ms-content .btn.btn-primary.mb-2:hover {
  color: #de1d3c;
  outline: 1px solid #de1d3c;
  background: none;
}

.im-cheif {
  padding: 10px;
}

.im-cheif span {
  font-size: 12px;
  margin-top: 0;
}

.im-text p {
  text-align: justify;
  line-height: 30px;
}

.im-text p p:not(:last-child) {
  margin-bottom: 30px;
}

.im-img img {
  height: 200px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ic-form {
  padding: 20px 0;
}

.ic-form .form-control {
  border-radius: 0;
  margin-top: 20px;
}

.ic-form input {
  margin: 10px 0;
  border-radius: 0;
}

.ic-form .textarea {
  border-radius: 0;
}

.ic-form button {
  background: #21418e;
  border: none;
  outline: none;
  border-radius: 0;
}

.ic-details {
  border: 1px solid #c9c9c9;
  margin-top: 20px;
  font-size: 15px;
  padding: 30px 50px;
}

.ic-details ul {
  margin-top: 10px;
}

.ic-details li {
  margin: 5px 0;
}

.ic-details li i {
  margin-right: 10px;
  color: #21418e;
}

.ic-details li a {
  color: #585858;
}

.ic-details li a:hover {
  color: #21418e;
}

.ic-title {
  margin-bottom: 20px;
}

.ic-title h5 {
  position: relative;
  margin-bottom: 40px;
  color: #21418e;
}

.ic-title h5::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: -30%;
  background: #d1d1d1;
  width: 50%;
  left: 0;
}

.ic-title span {
  font-size: 13px;
}

.wrapingimage {
  float: left;
  margin: 20px 20px 3px 4px;
  border: 2px solid #f0f0f0;
}

.icf-text h5 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: normal;
  color: #21418e;
}

.icf-text span {
  font-size: 13px;
}

.inner-notice .mn-single:first-child {
  margin-top: 0;
}

.inc-img img {
  height: auto;
  width: 100%;
}

.main-resources .mrl-links li {
  position: relative;
  padding: 10px;
  background-color: whitesmoke;
}

.main-resources .mrl-links li::before {
  padding: 10px;
  background-color: #de1d3c;
  color: white;
  position: absolute;
  top: 5%;
  left: 0;
  width: 3%;
}

.main-resources .mrl-links a {
  font-size: 15px;
  margin-left: 30px;
}

.mrl-links-right li {
  padding-left: 1.3em;
  margin-top: 10px;
}

.mrl-links-right li::before {
  font-size: 12px;
  color: #007bff;
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

.mrl-links-right li:last-child {
  margin-bottom: 20px;
}

.mrl-links-right a {
  font-size: 12px;
  text-decoration: underline;
}
/*# sourceMappingURL=main.css.map */