html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

body {
  font-family: "Poppins", sans-serif;
}

body .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

body textarea {
  border-color: #ccc;
}

body textarea:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
  outline: none;
}

body a {
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

body a:hover {
  text-decoration: none;
}

body a:focus {
  outline: none;
}

body ul {
  margin: 0;
  padding: 0;
}

body ul li {
  list-style-type: none;
}

body button:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

body button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}

body input .btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.no-pad {
  padding: 0;
}

*:focus {
  outline: none;
}

.sec-padding {
  padding: 20px 0;
}

.sec-title {
  color: #21418e;
  text-transform: uppercase;
  font-weight: bold;
}

.sec-title h2 {
  position: relative;
  display: inline-block;
}

.sec-title h2::after {
  content: "";
  position: absolute;
  background: #d4d4d4;
  height: 2px;
  bottom: -10%;
  left: 50%;
  width: 60%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sec-title-small {
  margin-bottom: 30px;
}

.sec-title-small h5 {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.section-padding {
  margin: 30px 0;
}

.j-c-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-c-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-secondary-blue {
  background: #21418e;
}

.header-top {
  background-color: #de1d3c;
  color: white;
  padding: 11px 245px;
  font-size: 12px;
}

.header-top .hf-calender,
.header-top .hr-email {
  margin-left: 20px;
}

.header-mid {
  padding: 10px 242px;
}

.hm-title img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.hm-logo img {
  height: 110px;
  width: 130px;
}

.hm-flag {
  text-align: right;
}

.hm-flag img {
  height: auto;
  width: 29%;
}

.header-bot .navbar-light .navbar-nav .nav-link {
  color: #fdfdfd;
  text-align: center;
}

.header-bot .navbar-light .navbar-nav .nav-link:hover {
  color: #bbbbbb;
}

.header-bot .navbar {
  padding: 25px;
  z-index: 999;
}

.header-bot .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.header-bot .navbar-nav.navbar-center {
  position: absolute;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
}

.main-banner-single {
  height: 67vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.mbs-text {
  width: 100%;
  background-color: #0000008a;
  position: absolute;
  bottom: 0;
  z-index: 1;
  padding: 10px 20px;
  color: white;
}

.mbs-text h4 {
  color: white;
  font-weight: bold;
}

.mbs-text p {
  margin-top: 18px;
  font-size: 15px;
  color: #cecece;
  width: 50%;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > a:after {
  content: ">";
  float: right;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

#dLabel {
  color: white;
  padding: 5px;
}

#dLabel:hover {
  color: #bbbbbb;
}

.main-search {
  background: #21418e;
  padding: 45px 0px;
  text-align: center;
}

.ms-content {
  width: 100%;
  text-align: center;
}

.ms-content .form-control {
  border-radius: 0px;
  text-align: center;
  font-size: 15px;
  padding: 8px;
}

.ms-content i {
  margin-right: 15px;
}

.ms-content .btn.btn-primary.mb-2 {
  display: inherit;
  background: #de1d3c;
  border-radius: 0px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 19px;
}

.ms-content .btn.btn-primary.mb-2:hover {
  color: white;
  outline: 1px solid white;
  background: none;
}

.no-pad {
  padding: 0;
}

.ma-content p {
  text-align: justify;
  line-height: 30px;
}

.main-message {
  text-align: center;
  background: #de1d3c;
  color: white;
  padding: 20px 20px;
}

.main-message .mm-msg {
  font-size: 12px;
  margin: 10px 0;
  text-align: center;
  color: whitesmoke;
}

.cheif-img {
  margin: 10px 0;
}

.cheif-img img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mm-learn-more {
  background: white;
  display: inline-block;
  padding: 5px 10px;
}

.mm-learn-more a {
  font-size: 10px;
  line-height: 16px;
  color: black;
  font-weight: 500;
}

.mm-learn-more a:hover {
  color: #de1d3c;
}

.icon-service {
  background: #fdfdfde6;
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 1px 1px 1px 1px #d0d0d0e6;
          box-shadow: 1px 1px 1px 1px #d0d0d0e6;
}

.icon-service a {
  color: #21418e;
}

.icon-service a:hover {
  color: #de1d3c;
}

.icon-service i {
  font-size: 60px;
}

.icon-service span {
  margin-top: 30px;
  display: block;
  font-weight: 700;
}

.mnst-date i {
  margin-right: 5px;
  color: #21418e;
}

.mnst-date span {
  color: #818181;
}

.mnst-view-down i {
  margin-right: 10px;
  color: #818181;
}

.mn-single {
  padding: 10px 20px 0px 20px;
  background-color: whitesmoke;
  margin-top: 15px;
}

.mnst-date {
  font-size: 12px;
}

.mns-bot {
  margin: 5px 0;
}

.mns-bot h5 {
  font-size: 15px;
  line-height: 25px;
}

.mns-bot h5 a {
  color: black;
}

.view-all {
  text-align: center;
  margin: 20px 0;
}

.view-all a {
  background: #de1d3c;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
}

.view-all a:hover {
  background: none;
  outline: 1px solid #de1d3c;
  color: #de1d3c;
}

.main-info-officer {
  background: #de1d3c;
  text-align: center;
  padding: 20px 30px;
  color: white;
}

.chief-detail {
  margin-top: 15px;
}

.cd-phone,
.cd-email {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.767);
}

.cd-phone i,
.cd-email i {
  margin-right: 10px;
  margin-top: 10px;
}

.main-related-link {
  background: whitesmoke;
  padding: 10px 15px;
}

.mrl-links li {
  padding-left: 1.3em;
  margin-top: 10px;
}

.mrl-links li::before {
  color: #007bff;
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

.mrl-links li:last-child {
  margin-bottom: 20px;
}

.mrl-links a {
  font-size: 13px;
  text-decoration: underline;
}

.mg-single {
  margin: 0 10px;
}

.mg-single img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.btn-margin {
  margin: 40px 0;
}

.footer-link-pad {
  padding: 0 40px;
}

.footer-main {
  background-color: #21418e;
  padding: 80px 0;
  color: white;
}

.footer-title h3 {
  font-size: 20px;
  font-weight: bold;
}

.oh-content-top {
  margin-top: 20px;
}

.oh-content-top li {
  padding-left: 1.3em;
  margin-top: 10px;
  margin-top: 10px;
  font-size: 15px;
}

.oh-content-top li::before {
  color: white;
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  margin-left: -1.3em;
  /* same as padding-left set on li */
  width: 1.3em;
  /* same as padding-left set on li */
}

.oh-content-top li a {
  margin-left: 5px;
  color: white;
}

.oh-content-top li i {
  margin-right: 10px;
}

.oh-content {
  margin-top: 20px;
}

.oh-content li {
  margin-top: 10px;
  font-size: 15px;
}

.oh-content li a {
  color: white;
}

.oh-content li i {
  margin-right: 10px;
}

.footer-bottom {
  padding: 5px;
  color: white;
  background: #de1d3c;
}

.ft-left {
  font-size: 13px;
  margin-left: 20px;
}

.ft-right i {
  font-size: 18px;
  margin: 10px 5px 10px 0;
}
/*# sourceMappingURL=main.css.map */