@import "./base/base";
@import "./base/mixins";
@import "./base/variables";
// HELPER-CLASSES
.j-c-s {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.j-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-f {
    display: flex;
}

.bg-secondary-blue {
    background: #21418e;
}

// HEAEDER
.header-top {
    background-color: $primary-red;
    color: white;
    padding: 0.688rem 15.313rem;
    font-size: 12px;
    .hf-calender,
    .hr-email {
        margin-left: 20px;
    }
}

.header-mid {
    padding: 10px 242px;
}

.hm-title {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.hm-logo {
    img {
        height: 110px;
        width: 130px;
    }
}

.hm-flag {
    text-align: right;
    img {
        height: auto;
        width: 29%;
    }
}

.header-bot {
    .navbar-light .navbar-nav .nav-link {
        color: rgb(253, 253, 253);
        text-align: center;
        &:hover {
            color: rgb(187, 187, 187);
        }
    }
    .navbar {
        padding: 25px;
        z-index: 999;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 0.5rem;
    }
    .navbar-nav.navbar-center {
        position: absolute;
        left: 50%;
        transform: translatex(-50%);
    }
}

// MAIN - BANNER
.main-banner-single {
    height: 67vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.mbs-text {
    width: 100%;
    background-color: #0000008a;
    position: absolute;
    bottom: 0;
    z-index: 1;
    padding: 10px 20px;
    color: white;
    h4 {
        color: white;
        font-weight: bold;
    }
    p {
        margin-top: 18px;
        font-size: 15px;
        color: rgb(206, 206, 206);
        width: 50%;
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: ">";
    float: right;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

#dLabel {
    color: white;
    padding: 5px;
    &:hover {
        color: rgb(187, 187, 187);
    }
}

// SEARCH
.main-search {
    background: $secondary-blue;
    padding: 45px 0px;
    text-align: center;
}

.ms-content {
    width: 100%;
    text-align: center;
    .form-control {
        border-radius: 0px;
        text-align: center;
        font-size: 15px;
        padding: 8px;
    }
    i {
        margin-right: 15px;
    }
    .btn.btn-primary.mb-2 {
        display: inherit;
        background: $primary-red;
        border-radius: 0px;
        outline: none;
        border: none;
        width: 100%;
        font-size: 19px;
        &:hover {
            color: rgb(255, 255, 255);
            outline: 1px solid white;
            background: none;
        }
    }
}

.no-pad {
    padding: 0;
}

// ABOUT US
.ma-content {
    p {
        text-align: justify;
        line-height: 30px;
    }
}

.main-message {
    text-align: center;
    background: $primary-red;
    color: white;
    padding: 20px 20px;
    .mm-msg {
        font-size: 12px;
        margin: 10px 0;
        text-align: center;
        color: whitesmoke;
    }
}

.cheif-img {
    margin: 10px 0;
    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
}

.mm-learn-more {
    background: white;
    display: inline-block;
    padding: 5px 10px;
    a {
        font-size: 10px;
        line-height: 16px;
        color: black;
        font-weight: 500;
        &:hover {
            color: $primary-red;
        }
    }
}

.icon-service {
    background: #fdfdfde6;
    padding: 30px;
    text-align: center;
    box-shadow: 1px 1px 1px 1px #d0d0d0e6;
    a {
        color: $secondary-blue;
        &:hover {
            color: #de1d3c;
        }
    }
    i {
        font-size: 60px;
    }
    span {
        margin-top: 30px;
        display: block;
        font-weight: 700;
    }
}

// NOTICES - INFO OFFICER - REL
.mnst-date {
    i {
        margin-right: 5px;
        color: $secondary-blue;
    }
    span {
        color: #818181;
    }
}

.mnst-view-down {
    i {
        margin-right: 10px;
        color: #818181;
    }
}

.mn-single {
    padding: 10px 20px 0px 20px;
    background-color: whitesmoke;
    margin-top: 15px;
}

.mnst-date {
    font-size: 12px;
}

.mns-bot {
    margin: 5px 0;
    h5 {
        font-size: 15px;
        line-height: 25px;
        a {
            color: rgb(63, 63, 63);
            font-weight: normal;
        }
    }
}

.view-all {
    text-align: center;
    margin: 20px 0;
    a {
        background: $primary-red;
        color: white;
        padding: 10px 20px;
        font-size: 12px;
        &:hover {
            background: none;
            outline: 1px solid $primary-red;
            color: $primary-red;
        }
    }
}

.main-info-officer {
    background: $primary-red;
    text-align: center;
    padding: 20px 30px;
    color: white;
}

.chief-detail {
    margin-top: 15px;
}

.cd-phone,
.cd-email {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.767);
    i {
        margin-right: 10px;
        margin-top: 10px;
    }
}

// RELATED LINKS
.main-related-link {
    background: whitesmoke;
    padding: 10px 15px;
}

.mrl-links {
    li {
        padding-left: 1.3em;
        margin-top: 10px;
        &::before {
            color: #007bff;
            content: "\f0c1";
            font-family: "Font Awesome 5 Free";
            font-weight: 800;
            margin-left: -1.3em;
            /* same as padding-left set on li */
            width: 1.3em;
            /* same as padding-left set on li */
        }
        &:last-child {
            margin-bottom: 20px;
        }
    }
    a {
        font-size: 13px;
        text-decoration: underline;
    }
}

// GALLERY
.mg-single {
    margin: 0 10px;
    img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}

.btn-margin {
    margin: 40px 0;
}

// FOOTER
.footer-link-pad {
    padding: 0 40px;
}

.footer-main {
    background-color: $secondary-blue;
    padding: 80px 0;
    color: white;
}

.footer-title {
    h3 {
        font-size: 20px;
        font-weight: bold;
    }
}

.oh-content-top {
    margin-top: 20px;
    li {
        padding-left: 1.3em;
        margin-top: 10px;
        margin-top: 10px;
        font-size: 15px;
        &::before {
            color: white;
            content: "\f054";
            font-family: "Font Awesome 5 Free";
            font-weight: 800;
            margin-left: -1.3em;
            /* same as padding-left set on li */
            width: 1.3em;
            /* same as padding-left set on li */
        }
        a {
            margin-left: 5px;
            color: white;
        }
        i {
            margin-right: 10px;
        }
    }
}

.oh-content {
    margin-top: 20px;
    li {
        margin-top: 10px;
        font-size: 15px;
        a {
            color: white;
        }
        i {
            margin-right: 10px;
        }
    }
}

.footer-bottom {
    padding: 5px;
    color: white;
    background: $primary-red;
}

.ft-left {
    font-size: 13px;
    margin-left: 20px;
}

.ft-right {
    i {
        font-size: 18px;
        margin: 10px 5px 10px 0;
    }
}

// INNER-BREADCRUMB
.inner-breadcrumb {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    .sec-title-breadcrumb {
        padding-top: 30px;
        padding-bottom: 10px;
        h3 {
            color: white;
            font-size: 40px;
        }
    }
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #083478d4;
        z-index: -1;
    }
    .breadcrumb {
        justify-content: center;
        background: none;
        a {
            color: white;
        }
    }
}

.ia-text {
    p {
        text-align: justify;
        line-height: 30px;
    }
    p:not(:last-child) {
        margin-bottom: 30px;
    }
}

.iac-img {
    img {
        height: 60vh;
        width: 100%;
        object-fit: cover;
    }
}

.ibs-img {
    img {
        height: 250px;
        width: 100%;
        -o-object-fit: cover;
        object-fit: cover;
    }
}

.ibs-detail {
    margin-top: 10px;
    text-align: center;
    h5 {
        font-size: 16px;
    }
    h6 {
        color: grey;
        font-size: 12px;
    }
}

.ia-board-member {
    padding: 20px 0px;
}

.ib-single {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid rgb(216, 216, 216);
}

// LIBRARY
.il-table {
    background: whitesmoke;
    margin-top: 40px;
}

.il-table {
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #21418e;
        background: #21418e;
        color: white;
    }
}

.inner-library {
    .ms-content .btn.btn-primary.mb-2:hover {
        color: $primary-red;
        outline: 1px solid $primary-red;
        background: none;
    }
}

// INNER-MSG
.im-cheif {
    padding: 10px;
    border: 1px solid rgb(216, 216, 216);
    span {
        font-size: 12px;
        margin-top: 0;
    }
}

.im-text {
    p {
        text-align: justify;
        line-height: 30px;
        p:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.im-img {
    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
}

// CONTACT US FORM
.ic-form {
    .form-control {
        border-radius: 0;
        margin-top: 20px;
    }
    padding: 20px 0;
    input {
        margin: 10px 0;
        border-radius: 0;
    }
    .textarea {
        border-radius: 0;
    }
    button {
        background: $secondary-blue;
        border: none;
        outline: none;
        border-radius: 0;
    }
}

.ic-details {
    padding: 20px;
    margin-top: 20px;
    font-size: 15px;
    ul {
        margin-top: 10px;
    }
    li {
        margin: 5px 0;
        i {
            margin-right: 10px;
        }
    }
}