html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
}

body {
    font-family: "Poppins", sans-serif;
    .form-control {
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: #ccc;
        }
    }
    textarea {
        border-color: #ccc;
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: #ccc;
            outline: none;
        }
    }
    a {
        transition: 0.2s linear;
        &:hover {
            text-decoration: none;
        }
        &:focus {
            outline: none;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
    }
    button {
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: none;
        }
        &:active {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
    input .btn {
        &:focus {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            outline: none;
        }
    }
}

.no-pad {
    padding: 0;
}

*:focus {
    outline: none;
}

.sec-padding {
    padding: 20px 0;
}

.sec-title {
    color: #21418e;
    text-transform: uppercase;
    font-weight: bold;
    h2 {
        position: relative;
        display: inline-block;
        &::after {
            content: "";
            position: absolute;
            background: rgb(212, 212, 212);
            height: 2px;
            bottom: -10%;
            left: 50%;
            width: 60%;
            transform: translateX(-50%);
        }
    }
}

.sec-title-small {
    margin-bottom: 30px;
    h5 {
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.section-padding {
    margin: 30px 0;
}

.inner-library {
    .ms-content .btn.btn-primary.mb-2 {
        display: inherit;
        background: #de1d3c;
        border-radius: 0px;
        outline: none;
        border: none;
        width: 100%;
        font-size: 19px;
    }
}